name: builddoc
on:
  push:
    branches:
      - master
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
      - uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - run: pip install --upgrade pip
      - run: pip install -e .
      - run: pip install mkdocs
      - run: pip install "mkdocstrings[python]"
      - run: mkdocs gh-deploy --force --clean --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
